body
{
    background-image: url(background.jpg);
    padding: 100px;
}

.menu_div
{
    float: right;
    font-family: Comfortaa;
    font-size: 20px;
    color: #F7FF00;
}

#show_menu
{
    border-radius: 25%;
    color: white;
    background-color: #581845;
    font-size: 30px;
    width: 250px;
    height: 70px;
    text-align: center;
}

div h1
{
    font-family: Raleway;
    font-size: 50px;
    color: white;
}

img
{
    width: 600px;
}

.topnav
{
    overflow: hidden;
	position:sticky;
	top: 0;
    width: 100%;
    text-align: center;
    font-family: Inspiration;
    font-size: 100px;
    font-weight: bold;
    color: black;
}

svg
{
    width: 30px;
    height: 30px;
    background-color: white;
}

#contact a 
{
    color: white;
    font-family: Zen Kaku Gothic Antique;
}

#contact h5
{
    font-family: Zen Kaku Gothic Antique;
    font-size: 25px;
    color: white;
}